.git
.idea
.vscode
__pycache__

Tensorflow/labelImg/*
Tensorflow/labelImg/libs/resources.qrc
/Tensorflow/models/
/Tensorflow/models/research/*
Tensorflow/workspace/models/my_ssd_mobnet/train/*
Tensorflow/workspace/images/test/*
Tensorflow/workspace/images/train/*
Tensorflow/workspace/models/my_ssd_mobnet/*
Tensorflow/workspace/annotations/*

# Jupyter Notebook
.ipynb_checkpoints

