.git
.vscode
.idea
.ipynb_checkpoints
__pycache__
labelImg
Tensorflow/models
Tensorflow/workspace/images
Tensorflow/workspace/annotations/*.record
Tensorflow/workspace/annotations/
Tensorflow/workspace/models/my_ssd_mobnet/train
Tensorflow/workspace/pre-trained-models/